@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro:ital@1&display=swap");

*{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
}


body {
    background-image: url(./images/Back.png);
    font-family: "Poppins", sans-serif; /* Login / Logout Page */
    height: 100vh; /* Login / Logout Page */
}


.active{
    background-color: rgb(255, 0, 0);
    border-radius: 40px;
}

.TextSize30{
    font-size: 30px;
}

.TextSize20{
    font-size: 20px;
}

.navbar {
    display: flex;
    background-color: white;
    border-radius: 10px;
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbarborders{
    border: 2px solid black;
    border-radius: 30px;
}

.navbar a {
    font-size: 20px;
    /* border: 2px solid black;
    border-radius: 40px; */
    text-decoration: none; 
    padding: 10px;
    margin: 2px;
    text-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 8px #000000;
    color: black;
}

.navbar a:hover{
    background-color: rgb(255, 57, 57);
    transition: 0.2s;
    color: black;
    border-radius: 40px;
}

#LanguageLogo {
    border-radius: 10px;
    height: 60px;
    width: 80px;
    box-shadow: 4px 3px 2px #000000;
}

#FlagSelected {
    background-color: limegreen;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 10px limegreen;
}

#flag {
    position: relative;
    align-self: center;
    animation-name: myreverse;
}

#flag:hover .down {
    animation-duration: 0.4s;  
    animation-name: myanimation;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    right: 20px;
    top: 70px;
}

@keyframes myanimation {
    from {
        transform: translateY(-400%);
    }
    to {
        transform: translateY(0%);
    }
    
  }

@keyframes myreverse {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-400%);
    }
}

.FlagSize {
    height: 30px; 
    width: 40px;
}

#blacktext{
    color: black;
}

.down {
    display: none;
    background-color: lightblue;
    border-radius: 40px;
}

#MoveDownSignUp{
    transform: translateY(800%);
    text-align: center;
    z-index: -1;
}

#white{
    color: white;
}

.ProductStyle{
    border-radius: 40px;
    background-color: grey;
    width: 400px;
    height: 250px;
}

#InformationProduct{
    font-style: italic;
}

.ItalicStyle{
    font-style: italic;
}

#top {
    padding-top: 130px;
    text-align: center;
}

#UserNotExists {
    transform: translateY(500%);
    color: #D70000;
    text-align: center;
}

#UserExists {
    transform: translateY(650%);
    color: #00CC00;
    text-align: center;
}

.downtwo {
    position: relative;
    background-color: white;
    transform:translateY(12%);
    border-radius: 30px;
    display: none;
    animation-duration: 0.4s;  
    animation-name: dropdown;
    animation-fill-mode: forwards;
}

  /* Login / Logout Page */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }

  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
   
  
  /* ANIMATIONS */

  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }
  
/* STOP Login / Logout Page */

@keyframes dropdown {
    from {
        transform: translateY(-400%);
    }
    to {
        transform: translateY(7%);
    }
    
  }

.navbar,.down,.downtwo {
    background-image: url(Back.png);
}
#alllinks {
    position: relative;
    align-items: center;
    right: 9%;
}
#contact:hover .downtwo {
    display: flex;
    flex-direction: column;
    position: fixed;
}
#contact {
    display: inline-block;
    position: relative;
}

#ColorSubmitProducts {
    border: 3px solid black;
    border-radius: 10px;
    color: black;
    background-color: lightgrey;
}

#ColorSubmitProducts:hover {
    background-color: lightgreen;
    opacity: 0.9;
    transition: 0.3s;
}

/* TO MAKE IT BIGGER ON MY HOME PAGE!*/
#Bigtitlehome {
    font-size: 60px;
}
#BigTextAbout {
    font-size: 3vw;
}
.Adressbox {
    display: flex;
    flex-direction: row;
    transform: translateY(100%);
    border: 10px solid #1e4ce3;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    background-color: lightskyblue;
    color: black;
}

.SignUp {
    display: flex;
    position: relative;
    transform: translateY(250%);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: rgb(29, 29, 29);
    border: 10px solid lightskyblue;
}

#MessageBox {
    display: flex;
    align-items: center;
    margin: 20px;
}
.submited {
    display: inline;
    font-size: 25px;
    text-align: center;
}


.allproducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.thisproduct {
    display: flex;
    flex-direction: column;
    margin: 10px;
     /* THIS SHOWS THE PRODUCTS AS RECTANGLE/RECHTECK */
    border: 10px solid red;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.ThisProductInfo {
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    width: 99%;
    border: 10px solid red;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

h3{
    text-shadow: 1px 1px;
}

@media only screen and (max-width: 1100px) {
    .navbar {
        width: 15%;
        height: 100%;
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        font-size: 20px;
        display: inline-flex;
    }

    .active {
        background-color: red;
        border-radius: 40px;
    }

    #flag:hover .down {
        flex-direction: row-reverse;
        position: absolute;
        transform: translateX(150%);
        top: 0px;
    }

    #contact:hover .downtwo {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: -1;
        top: 0;
        width: 150px;
        left: -50px;
        transform: translateX(80%);
    }
    #top {
        margin-left: 20%;
    }
    .register {
        flex-direction: column;
        transform: translateY(50%);
        z-index: -2;
        margin: 20%;
        width: 80%;
    }
    .Adressbox {
        display: flex;
        position: absolute;
        flex-direction: column;
        text-align: center;
        top: -70%;
        border: 10px solid #1e4ce3;
        border-radius: 10px;
        transform: translateY(50%);
        background-color: lightskyblue;
        margin: 15%;
        margin-left: 40%;
        height: 100%;
    }
    .thisproduct {
        margin-left: 30%;
        text-align: center;
    }

    .ThisProductInfo {
        display: flex;
        flex-direction: column;
        padding-top: 130px;
        width: 100%;
        height: 100%;
        border: 10px solid red;
        border-radius: 10px;
        align-items: center;
        justify-content: space-around;
        background-color: white;
    }
    .allproducts {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
}
/*
    @media only screen and (max-width: 700px) {
        .navbar {
            width: 20%;
            height: 100%;
            flex-direction: column;
            text-align: center;
        }
    
        .navbar a {
            font-size: 10px;
            display: inline-flex;
        }
    
        .active {
            background-color: red;
            border-radius: 40px;
        }
    
        #flag:hover .down {
            flex-direction: row-reverse;
            position: absolute;
            transform: translateX(150%);
            top: 0px;
        }
    
        #contact:hover .downtwo {
            display: flex;
            flex-direction: row;
            position: absolute;
            z-index: -1;
            width: 150px;
            left: -50px;
            transform: translateX(80%);
        }
        
        #top {
            margin-left: 20%;
        }
        .register {
            flex-direction: column;
            transform: translateY(50%);
            z-index: -2;
            margin: 20%;
            width: 80%;
        }
        .Adressbox {
            flex-direction: column;
            text-align: center;
            transform: translateY(50%);
            border: 10px solid blue;
            font-size: 15px;
            background-color: lightskyblue;
            margin: 20%;
            width: 100%;
        }
        .thisproduct {
            margin-left: 30%;
            text-align: center;
        }
        
        .ThisProductInfo {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            border: 10px solid red;
            border-radius: 10px;
            align-items: center;
            justify-content: space-around;
            background-color: white;
        }

        .allproducts {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: 100%;
        }
    }
}
*/
.downtwo a,.register,#top {
    color: white;
}